{% extends 'base.html' %}
{% block content %}
<div class='header-h1'>
<h1>List of Orders</h1>
</div>
{% comment %} for loop means for each order, generate this card {% endcomment %}
{%for order in orders %}
<a href="{% url 'detail' order.id %}" class="card-order">
<div class="card">
    <div class="card-content">
      <span class="card-title">{{ order.item_ordered }}</span>
      <h4>{{ order.customer_name }}</h4> 
      <p>Email Address: {{ order.customer_email }}</p>     
      <p>Phone Number: {{ order.customer_phone }}</p>  
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}