{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


      
    <title>About</title>
</head>

  <body>
    <div class='header-h1'>
    <h1>About Honeybee Bakery</h1>
    </div>
    <hr />
      <p>Shipping and Delivery coming soon!</p>
               <h4>You can find us at:</h4>
            <iframe
              width="600"
              height="450"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCgs1hVUNcVzjhRtSA8XJSVBnQcm_yIzqo
                &q=419+ Queen+Anne+Ave+N,Seattle+WA">
            </iframe>


    <div class="contact-info">
    <h6>Phone: 206-555-1212</h6>
    </div>

    <div class="hours">
    Hours:
    <br>
    WE ARE GLADLY OPEN: 
    <br>
    WEDNESDAYS 8AM-ISH - 2PM
    <br>
    THURSDAYS 8AM-ISH - 2PM
    <br>
    SATURDAYS 8AM-ISH - 2PM

    </div>
    
  </body>
</html>

{% endblock %}