{% extends 'base.html' %}
{% load static %}

{% block title %}
- Home
{% endblock%}

{% block content %}

<body>
  <div class="home-h1">
    <h1>Honeybee Bakery</h1>
  </div>
  <div class="bee-div">
  <a href="/shop">
  <img class="bee-img" src="{% static 'images/honeybee.png' %}" alt="cartoon honeybee image with fluttering trail circling behind it">
  <div class="home-background">
  <img class="responsive-img" src="{% static 'images/BakeryImage.png' %}" alt="">

  </div>
  </div>
  </a>
</body>

{% endblock %}