{% extends 'base.html' %}
{% load static %}

{% block title %}
- Home
{% endblock%}

{% block content %}

<body>
  <div class="home-h1" id="home-h1">
    <h1>Honeybee Bakery</h1>
  </div>
  <div class="bee-div">
      <a href="/shop">
        <img class="bee-img" src="{% static 'images/honeybee.png' %}" alt="cartoon honeybee image with fluttering trail circling behind it">
  <div class="home-background">
    <img class="responsive-img" src="{% static 'images/bakery-background.png' %}" alt="">
    </div>
       </div>
        </a>
          </body>

<div class="col s3">
  <span class="content">
    <p>Minda Mendez and the crew bake in Seattle’s Lower Queen Anne neighborhood. If you’re ever in the area, come say what’s up!

      Location:

      419 Queen Anne Ave N.
      Seattle, WA 98199
  </span>
    </p>
      </div>


</div>
{% endblock %}