{% extends 'base.html' %}
{% block content %}
<div class="shop-h1">
<h1>Shop</h1>
</div>


 <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1550593802-84ee705f382c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
          <span class="card-title">Blueberry Muffin</span>
           <a class="btn-floating btn-large halfway-fab waves-effect waves-light yellow" href="{% url 'create_order' %}" ><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>Flavorful, fresh blueberry muffins made from scratch daily. Organic blueberries, non-GMO flour, and locally-sourced sugarcane are in every muffin.</p>
        </div>
      </div>
    </div>
    {% comment %} Card 2 {% endcomment %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1533049883418-f0e0a8a39576?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
          <span class="card-title">Cranberry Orange Muffin</span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light yellow" href="{% url 'create_order' %}" ><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>Fresh dried cranberries, orange zest, a hint of lemon, and dusting sugar make every hand-crafted muffin a sensory experience. </p>
        </div>
      </div>
    </div>
    {% comment %} next card below here {% endcomment %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1505253556788-d1b08ba92767?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80">
          <span class="card-title">Banana Nut Muffin</span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light yellow" href="{% url 'create_order' %}" ><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>Organic bananas, walnuts, and organic saigon cinnamon are the pillars of this hearty muffin. Pairs best with mild, nutty flavors.</p>
        </div>
      </div>
    </div>
  </div>
            
            

 
    
  
{% endblock %}